@import "./colours.scss";

html,
body,
#root,
.body,
.application-container {
  height: 100%;
  margin: 0px;
  background-image: url("../public/background.webp");
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: $primary;
}

p {
  margin: 0px;
}
.title {
  padding-right: 20px;
}

.body {
  display: flex;
  flex-flow: column;
}

.application-container {
  display: flex;
  flex-direction: row;
}

.application-body {
  display: flex;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.application-footer {
  display: flex;
  flex: 0 1 auto;
  padding: 20px;
  font-size: calc(1em + 1vw);
  justify-content: right;
  align-items: center;
}

.application-content {
  display: flex;
  flex: 1 1 auto;
}
