@import "../../colours.scss";

.sidebar {
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundLighter;
  font-size: calc(0.5em + 0.5vw);
  padding: 0 0.5em;
  transition: all 1s;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  transform: translateX(-13em);
  &:hover {
    transform: translateX(0);
    .menu-open {
      opacity: 1;
    }
    .search-icon {
      opacity: 0;
    }
  }
}

.search-icon {
  transition: all 1s;
  position: absolute;
  top: 1em;
  right: 0.5em;

  height: 5%;
  width: 10%;
}

.menu-open {
  transition: all 1s;
  opacity: 0;
  height: 100%;
  margin: 0 0 2em 0;
  width: calc(15em + 1vw);
  display: flex;
  flex-direction: column;
}

.games-switch {
  width: 90%;
  font-size: calc(0.5em + 1vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5em;
  margin: 1em auto;
}

.games-switch-title {
  width: 30%;
  text-align: center;
  cursor: pointer;
}
.current-list {
  border: solid 2px $accentSecondary;
  border-bottom: none;
}

.add-game-button {
  width: 80%;
  min-width: fit-content;
  height: 5%;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 0.5vw);
  margin: 0 auto;
}

.add-text {
  margin-right: auto;
}

.add-icon {
  margin-left: auto;
}

.add-text,
.add-icon {
  padding: 1em;
}
