@import "../../colours.scss";

.current-players-list-item {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.current-player {
  width: 50%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $primary;
}

.current-player-title {
  margin-right: auto;
}

.current-player-email {
  font-size: 0.7em;
}

.current-player-balance {
  margin-top: auto;
}

.transfer-block {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount-block {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .amount-input {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .error-message {
    width: 100%;
    height: unset;
    margin: 0;
  }
}

.amount-input {
  height: 1.5em;
  margin: 0 auto;
  text-align: center;

  border-radius: 150px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.transfer-button,
.request-button {
  margin-left: auto;
  padding: 0 0.5em;
  height: 1.5em;
}
