@import "../colours.scss";

.sidebar {
  width: fit-content;
  height: 100%;
}

.application-header,
.application-footer {
  width: fit-content;
  position: absolute;
  right: 0;
}

.application-body {
  margin-top: calc(1em + 3vw);
}

.application-footer {
  bottom: 0;
}
