@import "../colours.scss";

.sidebar {
  width: fit-content;
  height: 100%;
}

.application-header,
.application-footer {
  width: fit-content;
  position: absolute;
  right: 0;
}

.application-body {
  margin: calc(1em + 3vw) 0;
}

.application-footer {
  bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba($background, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  -webkit-box-shadow: 0px 0px 100px 14px rgba($backgroundLighter, 1);
  -moz-box-shadow: 0px 0px 100px 14px rgba($backgroundLighter, 1);
  box-shadow: 0px 0px 100px 14px rgba($backgroundLighter, 1);
}

.button {
  background: $accentSecondary;
  cursor: pointer;
  transition: all 1s;
  border-radius: 150px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button-hover {
  &:hover {
    transform: translateY(-1vh);
  }
}

.input {
  all: unset;
  padding: 0.25em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 0px 0px 2px $accentSecondary;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $primary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
