@import "../../../colours.scss";

.game-details {
  width: 90%;
  height: 90%;
  font-size: calc(1em + 0.5vw);
  .game-title {
    font-size: calc(2em + 1vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid $primary;
  }
}
.delete-game {
  margin-left: auto;
  font-size: calc(0.5em + 1vw);
  cursor: pointer;
}

.dates {
  margin: 0.5em 0;
}

.line-block {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tags {
  width: 70%;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.min-approvals,
.state,
.players {
  width: fit-content;
  height: 2em;
  padding: 0 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba($backgroundLighter, 0.8);
  border-radius: 15px;
}

.start-block {
  width: 20%;
  margin-left: auto;
  margin-right: 1em;
}

.start-button {
  width: fit-content;
  white-space: nowrap;
  .text {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.details-block {
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.players-list {
  width: 50%;
  height: 60%;
  margin-right: auto;

  overflow: auto;
  scroll-behavior: smooth;
}

.players-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.players-list::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

.players-list::-webkit-scrollbar-thumb {
  background-color: rgba($primary, 0.5);
  border-radius: 150px;
}

.player {
  width: fit-content;
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba($primary, 0.2);
}
.player-name {
  margin-right: auto;
}

.player-email {
  font-size: 0.8em;
}

.join-block {
  margin-left: auto;
  margin-top: 3em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.password-input {
  text-align: center;
  font-size: calc(0.5em + 0.5vw);
  margin-bottom: 0.5em;

  border: 2px solid $accentSecondary;
  border-radius: 150px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.join-button {
  width: 30%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1em + 0.1vw);
  border-radius: 150px;
}

.text {
  padding: 0.2em 1em;
}
